<div class="navbar_wrapper">
  <img src="images/logo.svg" alt="logo" />
  <div class="menu_box">
    <a href="/" class="menu_item">Home</a>
    <a href="#" class="menu_item">Meal Log</a>
    <a href="#" class="menu_item">Recipe</a>
    <a href="#" class="menu_item">Add Recipe</a>
    <a href="#" class="menu_item">User</a>
  </div>
  <div class="navbar_right">
    <!-- if logout? -->
    <button onclick="window.location.href='/login'" class="small_btn gray_btn">
      Log in
    </button>
    <button
      onclick="window.location.href='/signup'"
      class="small_btn green_btn"
    >
      Sign up
    </button>
  </div>
</div>
