<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link href="/css/login.css" rel="stylesheet" />
  </head>
  <body>
    <header><%- include("partials/navbar.ejs") %></header>
    <main class="login_main">
      <div class="login_container">
        <img src="images/login_food.svg" alt="login_image" />
        <div class="login_right_box">
          <p class="login_title">Welcome to the table</p>
          <form class="login_form" method="post">
            <div class="input_container">
              <div class="input_box">
                <img
                  src="images/userIcon.svg"
                  alt="login_icon"
                  class="input_icon"
                />
                <input
                  name="username"
                  id="username_input"
                  class="login_input"
                  placeholder="User Name"
                />
              </div>
              <div class="input_box">
                <img src="images/passwordIcon.svg" alt="login_icon"
                class="input_icon"" />
                <input
                  name="password"
                  id="password_input"
                  class="login_input"
                  type="password"
                  placeholder="Password"
                />
              </div>
            </div>
            <button class="big_btn green_btn">Log in</button>
          </form>
          <p class="bottom_caption">
            Don't have an account yet?
            <a href="/signup" class="link_caption">Sign up</a>
          </p>
        </div>
      </div>
    </main>
    <script src="js/login.js"></script>
  </body>
</html>
