<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link href="/css/recipe.css" rel="stylesheet" />
    <link href="/css/recipeCard.css" rel="stylesheet" />
  </head>
  <body>
    <header><%- include("partials/navbar.ejs") %></header>
    <main class="recipe_main">
      <div style="display: none" userId="<%=userId%>" id="hidden_userId"></div>
      <section id="category_section" class="category_section">
        <button class="category_button" id="category_all">All</button>
      </section>
      <section class="recipes_section">
        <div class="title_box">
          <p class="title">Results</p>
          <p class="subtitle">
            Recipe > <span class="category_span">ALL</span>
          </p>
        </div>
        <div class="recipes_container" id="recipes_container"></div>
      </section>
    </main>
    <script src="js/recipe.js"></script>
    <script src="js/recipeCard.js"></script>
  </body>
</html>
